.img{
    width: 600px;
    height: auto;
}

.container{
    color: #345;
    width: 95%;
    margin: 0 auto;
    background: linear-gradient(0.3turn, #eee, #1d84c0);
    padding: 20px 0;
}

.hidden {
    display: none;
}